<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheMovieDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79E25C951F2B4CB10019AA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E25CA91F2B4CB20019AA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E25CB41F2B4CB20019AA9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
